<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Argenchat - Sala <%=title %>
    </title>
    <meta name="description" content="Argenchat - Chat instantaneo sin necesidad de crear cuentas o usuarios, entra a /elnombredetusala e invita gente para empezar a chatear!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Gonzalo Pozzo">
    <meta name="robots" content="INDEX, FOLLOW">
    <link href="https://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet">
    <link href="/public/vendor/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/public/css/custom.css" rel="stylesheet">
    <link href="/public/css/dataurl.css" rel="stylesheet">
    <link rel="shortcut icon" href="public/favicon.ico">
    <link rel="icon" href="/public/favicon.ico">
    <link rel="canonical" href="http://argenchat.herokuapp.com">
</head>

<body>

    <!-- Nav -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <%= title %>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse no-margin" aria-expanded="false">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="navbar-form" role="search">
                            <div class="input-group">
                                <input id="sala_red" type="text" maxlength="20" class="form-control" placeholder="Crear sala">
                                <span class="input-group-btn">
                                <button type="submit" onclick="redirectSala();" class="btn btn-default active">Crear</button>
                            </span>
                            </div>
                        </div>
                    </li>
                    <li class="active"><a href="#" data-toggle="modal" data-target="#salaModal" type="button">Editar sala <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Chat -->
    <div class="container bodycontainer">
        <div class="row">
            <div id="chat" class="col-md-12 chat">
                <!-- Appends de chats -->
            </div>

            <!-- Footer -->
            <div id="footer" class="col-md-12 no-gutter">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-toggle="modal" data-target="#configModal" type="button"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                        <button id="prv_kick" style="display:none;" class="btn btn-danger" alt="Expulsar persona" onclick="kickPrv()" type="button"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        <button id="prv_dismiss" style="display:none;" class="btn btn-primary" alt="Cancelar mensaje privado" onclick="unsetPrv()" type="button"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
                    </span>
                    <input id="msg_input" type="text" maxlength="500" class="form-control" placeholder="Mensaje">
                    <input id="prv_name" type="text" hidden>
                    <input id="prv_id" type="text" hidden>
                    <span class="input-group-btn">
                        <input id="imagefile" type="file" style="display:none;" id="imagefile"/>
                        <button class="btn btn-info" id="photo_available" onclick="$('#imagefile').click();" type="button"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                        <button class="btn btn-warning disabled" id="photo_unavailable" style="display:none" type="button"><span class="glyphicon glyphicon-repeat gly-spin" aria-hidden="true"></span></button>
                        <button class="btn btn-default" onclick="emitir()" type="button">Enviar</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Config Modal -->
    <div id="configModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Configuracion</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label for="c_name">Nombre:</label>
                        <input id="c_name" type="text" class="form-control" maxlength="15" placeholder="Nombre" value="Anonimo">
                    </div>
                    <hr>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="vehicle" id="c_sv_notif" checked>Recibir notificaciones del servidor</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="vehicle" id="c_cnx_notif" checked>Recibir notificaciones del des/conexiones</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="setData()" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Pass Modal -->
    <div id="salaModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Editar sala</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label for="c_pass">Contraseña:</label>
                        <input id="c_pass" type="password" class="form-control" placeholder="Contraseña" maxlength="15" value="">
                    </div>
                    <hr>
                    <div class="input-group">
                        <label for="c_img_sala">Imagen de salon:</label>
                        <input id="c_img_sala" type="text" class="form-control" placeholder="EJ: http://p1.pichost.me/i/5/1282860.jpg" value="">
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="setSala()" data-dismiss="modal">Establecer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Alert Modal -->
    <div id="alertModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notificación</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <p id="alertError"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/public/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/vendor/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/public/js/pace.min.js"></script>
    <script type="text/javascript" src="/public/js/client-io-handler.js"></script>

    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-62524880-3');
        ga('send', 'pageview');
    </script>
</body>

</html>